name: Build and push containers
on: 
  push: 
    tags:
      - "v*.*.*"

jobs:
  build_application_container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: 'flowforge/docker-compose'
          fetch-depth: 0
          path: 'docker-compose'
      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          tags: |
            type=semver,event=tag,pattern={{version}}
          flavor: |
            latest=true
          images: |
            flowforge/forge-docker
            flowfuse/forge-docker
      - name: Setup QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: docker login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push FlowForge Application container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: docker-compose/flowforge-docker
          file: docker-compose/flowforge-docker/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7
          tags: ${{ steps.meta.outputs.tags }}
          push: true
      - name: Push README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowforge/forge-docker
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          readme-filepath: docker-compose/README.md
      - name: Push README flowfuse
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowfuse/forge-docker
          username: flowfuse
          password: ${{ secrets.DOCKER_HUB_PASSWORD_FLOWFUSE }}
          readme-filepath: docker-compose/README.md

  release-compose-files:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: 'flowforge/docker-compose'

      - name: Add assets to the release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          files: |
            docker-compose.yml
            docker-compose-quick-start.yml
