name: Build and push containers
on: 
  push: 
    tags:
      - "v*.*.*"

jobs:
  build_application_container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowforge/docker-compose'
          fetch-depth: 0
          path: 'docker-compose'
      - name: Docker Meta Data
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=semver,event=tag,pattern={{version}}
          flavor: |
            latest=true
          images: |
            flowforge/forge-docker
            flowfuse/forge-docker
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: docker login
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and push FlowForge Application container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: docker-compose/flowforge-docker
          file: docker-compose/flowforge-docker/Dockerfile
          platforms: linux/amd64, linux/arm64, linux/arm/v7
          tags: ${{ steps.meta.outputs.tags }}
          push: true
      - name: Push README
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowforge/forge-docker
          username: flowforge
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          readme-filepath: docker-compose/README.md
      - name: Push README flowfuse
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          repository: flowfuse/forge-docker
          username: flowfuse
          password: ${{ secrets.DOCKER_HUB_PASSWORD_FLOWFUSE }}
          readme-filepath: docker-compose/README.md

  release-compose-files:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build_application_container
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'flowforge/docker-compose'

      - name: Add assets to the release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            docker-compose.yml
            docker-compose-quick-start.yml
